@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--np-color-background: #f7fafe;
	--np-color-error: #ba1a1a;
	--np-color-error-container: #ffdad6;
	--np-color-inverse-on-surface: #eef1f5;
	--np-color-inverse-primary: #7dd0ff;
	--np-color-inverse-surface: #2d3134;
	--np-color-neutral-palette-key-color: #73777b;
	--np-color-neutral-variant-palette-key-color: #6f787f;
	--np-color-on-background: #181c1f;
	--np-color-on-error: #ffffff;
	--np-color-on-error-container: #93000a;
	--np-color-on-primary: #ffffff;
	--np-color-on-primary-container: #004863;
	--np-color-on-primary-fixed: #001e2c;
	--np-color-on-primary-fixed-variant: #004c69;
	--np-color-on-secondary: #ffffff;
	--np-color-on-secondary-container: #4a687b;
	--np-color-on-secondary-fixed: #001e2c;
	--np-color-on-secondary-fixed-variant: #2c4a5c;
	--np-color-on-surface: #181c1f;
	--np-color-on-surface-variant: #3f484e;
	--np-color-on-tertiary: #f7fafe;
	--np-color-on-tertiary-container: #5d2e73;
	--np-color-on-tertiary-fixed: #310048;
	--np-color-on-tertiary-fixed-variant: #623377;
	--np-color-outline: #6f787f;
	--np-color-outline-variant: #bec8cf;
	--np-color-primary: #00658b;
	--np-color-primary-container: #5fb9e9;
	--np-color-primary-fixed: #c4e7ff;
	--np-color-primary-fixed-dim: #7dd0ff;
	--np-color-primary-palette-key-color: #0980ad;
	--np-color-scrim: #000000;
	--np-color-secondary: #446274;
	--np-color-secondary-container: #c7e7fd;
	--np-color-secondary-fixed: #c7e7fd;
	--np-color-secondary-fixed-dim: #abcbe0;
	--np-color-secondary-palette-key-color: #5d7b8e;
	--np-color-shadow: #000000;
	--np-color-surface: #f7fafe;
	--np-color-surface-bright: #f7fafe;
	--np-color-surface-container: #ebeef2;
	--np-color-surface-container-high: #e5e8ec;
	--np-color-surface-container-highest: #e0e3e7;
	--np-color-surface-container-low: #f1f4f8;
	--np-color-surface-container-lowest: #ffffff;
	--np-color-surface-dim: #d7dade;
	--np-color-surface-tint: #00658b;
	--np-color-surface-variant: #dae4ec;
	--np-color-tertiary: #7b4b91;
	--np-color-tertiary-container: #d29be8;
	--np-color-tertiary-fixed: #f7d8ff;
	--np-color-tertiary-fixed-dim: #eab2ff;
	--np-color-tertiary-palette-key-color: #d29be8;

	--np-elevation-1: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
	--np-elevation-2: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
	--np-elevation-3: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
		rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
	--np-shape-corner-full: 9999px;
	--np-shape-corner-extra-small: 0.25rem;
	--np-shape-corner-extra-large: 1.75rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--np-color-background: #101417;
		--np-color-error: #ffb4ab;
		--np-color-error-container: #93000a;
		--np-color-inverse-on-surface: #2d3134;
		--np-color-inverse-primary: #00658b;
		--np-color-inverse-surface: #e0e3e7;
		--np-color-neutral-palette-key-color: #73777b;
		--np-color-neutral-variant-palette-key-color: #6f787f;
		--np-color-on-background: #e0e3e7;
		--np-color-on-error: #690005;
		--np-color-on-error-container: #ffdad6;
		--np-color-on-primary: #00344a;
		--np-color-on-primary-container: #004863;
		--np-color-on-primary-fixed: #001e2c;
		--np-color-on-primary-fixed-variant: #004c69;
		--np-color-on-secondary: #133444;
		--np-color-on-secondary-container: #9dbdd1;
		--np-color-on-secondary-fixed: #001e2c;
		--np-color-on-secondary-fixed-variant: #2c4a5c;
		--np-color-on-surface: #e0e3e7;
		--np-color-on-surface-variant: #bec8cf;
		--np-color-on-tertiary: #101417;
		--np-color-on-tertiary-container: #5d2e73;
		--np-color-on-tertiary-fixed: #310048;
		--np-color-on-tertiary-fixed-variant: #623377;
		--np-color-outline: #899299;
		--np-color-outline-variant: #3f484e;
		--np-color-primary: #8ad4ff;
		--np-color-primary-container: #5fb9e9;
		--np-color-primary-fixed: #c4e7ff;
		--np-color-primary-fixed-dim: #7dd0ff;
		--np-color-primary-palette-key-color: #0980ad;
		--np-color-scrim: #000000;
		--np-color-secondary: #abcbe0;
		--np-color-secondary-container: #2e4d5e;
		--np-color-secondary-fixed: #c7e7fd;
		--np-color-secondary-fixed-dim: #abcbe0;
		--np-color-secondary-palette-key-color: #5d7b8e;
		--np-color-shadow: #000000;
		--np-color-surface: #101417;
		--np-color-surface-bright: #363a3d;
		--np-color-surface-container: #1c2023;
		--np-color-surface-container-high: #262a2e;
		--np-color-surface-container-highest: #313538;
		--np-color-surface-container-low: #181c1f;
		--np-color-surface-container-lowest: #0b0f12;
		--np-color-surface-dim: #101417;
		--np-color-surface-tint: #7dd0ff;
		--np-color-surface-variant: #3f484e;
		--np-color-tertiary: #ecb8ff;
		--np-color-tertiary-container: #d29be8;
		--np-color-tertiary-fixed: #f7d8ff;
		--np-color-tertiary-fixed-dim: #eab2ff;
		--np-color-tertiary-palette-key-color: #d29be8;
	}
}

html {
	color-scheme: dark light;
}

[data-theme='light'] {
	color-scheme: light;
	--np-color-background: #f7fafe;
	--np-color-error: #ba1a1a;
	--np-color-error-container: #ffdad6;
	--np-color-inverse-on-surface: #eef1f5;
	--np-color-inverse-primary: #7dd0ff;
	--np-color-inverse-surface: #2d3134;
	--np-color-neutral-palette-key-color: #73777b;
	--np-color-neutral-variant-palette-key-color: #6f787f;
	--np-color-on-background: #181c1f;
	--np-color-on-error: #ffffff;
	--np-color-on-error-container: #93000a;
	--np-color-on-primary: #ffffff;
	--np-color-on-primary-container: #004863;
	--np-color-on-primary-fixed: #001e2c;
	--np-color-on-primary-fixed-variant: #004c69;
	--np-color-on-secondary: #ffffff;
	--np-color-on-secondary-container: #4a687b;
	--np-color-on-secondary-fixed: #001e2c;
	--np-color-on-secondary-fixed-variant: #2c4a5c;
	--np-color-on-surface: #181c1f;
	--np-color-on-surface-variant: #3f484e;
	--np-color-on-tertiary: #f7fafe;
	--np-color-on-tertiary-container: #5d2e73;
	--np-color-on-tertiary-fixed: #310048;
	--np-color-on-tertiary-fixed-variant: #623377;
	--np-color-outline: #6f787f;
	--np-color-outline-variant: #bec8cf;
	--np-color-primary: #00658b;
	--np-color-primary-container: #5fb9e9;
	--np-color-primary-fixed: #c4e7ff;
	--np-color-primary-fixed-dim: #7dd0ff;
	--np-color-primary-palette-key-color: #0980ad;
	--np-color-scrim: #000000;
	--np-color-secondary: #446274;
	--np-color-secondary-container: #c7e7fd;
	--np-color-secondary-fixed: #c7e7fd;
	--np-color-secondary-fixed-dim: #abcbe0;
	--np-color-secondary-palette-key-color: #5d7b8e;
	--np-color-shadow: #000000;
	--np-color-surface: #f7fafe;
	--np-color-surface-bright: #f7fafe;
	--np-color-surface-container: #ebeef2;
	--np-color-surface-container-high: #e5e8ec;
	--np-color-surface-container-highest: #e0e3e7;
	--np-color-surface-container-low: #f1f4f8;
	--np-color-surface-container-lowest: #ffffff;
	--np-color-surface-dim: #d7dade;
	--np-color-surface-tint: #00658b;
	--np-color-surface-variant: #dae4ec;
	--np-color-tertiary: #7b4b91;
	--np-color-tertiary-container: #d29be8;
	--np-color-tertiary-fixed: #f7d8ff;
	--np-color-tertiary-fixed-dim: #eab2ff;
	--np-color-tertiary-palette-key-color: #d29be8;
}

[data-theme='dark'] {
	color-scheme: dark;
	--np-color-background: #101417;
	--np-color-error: #ffb4ab;
	--np-color-error-container: #93000a;
	--np-color-inverse-on-surface: #2d3134;
	--np-color-inverse-primary: #00658b;
	--np-color-inverse-surface: #e0e3e7;
	--np-color-neutral-palette-key-color: #73777b;
	--np-color-neutral-variant-palette-key-color: #6f787f;
	--np-color-on-background: #e0e3e7;
	--np-color-on-error: #690005;
	--np-color-on-error-container: #ffdad6;
	--np-color-on-primary: #00344a;
	--np-color-on-primary-container: #004863;
	--np-color-on-primary-fixed: #001e2c;
	--np-color-on-primary-fixed-variant: #004c69;
	--np-color-on-secondary: #133444;
	--np-color-on-secondary-container: #9dbdd1;
	--np-color-on-secondary-fixed: #001e2c;
	--np-color-on-secondary-fixed-variant: #2c4a5c;
	--np-color-on-surface: #e0e3e7;
	--np-color-on-surface-variant: #bec8cf;
	--np-color-on-tertiary: #101417;
	--np-color-on-tertiary-container: #5d2e73;
	--np-color-on-tertiary-fixed: #310048;
	--np-color-on-tertiary-fixed-variant: #623377;
	--np-color-outline: #899299;
	--np-color-outline-variant: #3f484e;
	--np-color-primary: #8ad4ff;
	--np-color-primary-container: #5fb9e9;
	--np-color-primary-fixed: #c4e7ff;
	--np-color-primary-fixed-dim: #7dd0ff;
	--np-color-primary-palette-key-color: #0980ad;
	--np-color-scrim: #000000;
	--np-color-secondary: #abcbe0;
	--np-color-secondary-container: #2e4d5e;
	--np-color-secondary-fixed: #c7e7fd;
	--np-color-secondary-fixed-dim: #abcbe0;
	--np-color-secondary-palette-key-color: #5d7b8e;
	--np-color-shadow: #000000;
	--np-color-surface: #101417;
	--np-color-surface-bright: #363a3d;
	--np-color-surface-container: #1c2023;
	--np-color-surface-container-high: #262a2e;
	--np-color-surface-container-highest: #313538;
	--np-color-surface-container-low: #181c1f;
	--np-color-surface-container-lowest: #0b0f12;
	--np-color-surface-dim: #101417;
	--np-color-surface-tint: #7dd0ff;
	--np-color-surface-variant: #3f484e;
	--np-color-tertiary: #ecb8ff;
	--np-color-tertiary-container: #d29be8;
	--np-color-tertiary-fixed: #f7d8ff;
	--np-color-tertiary-fixed-dim: #eab2ff;
	--np-color-tertiary-palette-key-color: #d29be8;
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 500;
	margin: 0;
}

h2 {
	font-size: 1.75rem;
	line-height: 2.5rem;
	font-weight: 400;
	margin: 3rem 0 1.5rem 0;
}

h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	margin: 1rem 0 0.5rem 0;
}

.primary {
	color: var(--np-color-primary);
}

body {
	font-size: 1.125rem;
	background-color: var(--np-color-surface-container);
	color: var(--np-color-on-surface);
}

p {
	margin: 0 0 1rem 0;
}
